
body{
  margin: 0px;
  background-color: #8c8c8c;
  font-family: 'Nunito Sans', sans-serif;
}

.title{
}

.titleCont{
width: 100%;
height: 75px;
padding-top: 5px;
padding-bottom: 5px;
background-color: #277acc;
color: white;
text-align: center;
}

a{
  text-decoration: none;
}

.active {
  color: white!important;
  text-decoration: none;
}


.menu{
  overflow: hidden;
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
}

.menu li{
  text-decoration: none;
  color:white;
  display: inline-block;
  text-align: center;
}

.menu li a{
  text-decoration: none;
  color:#c3c3c3;
  padding: 30px;
}


.card{
  margin-left: .66%;
  margin-top: 10px;
  display: inline-block;
  background-color: gray;
  width: 48%;
  border: 5px solid #333;
}

.lname{
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 15px;
  width: 100%;
  color: white;
  background-color: #333;
  display: inline-block;
  text-align: center;
}

.limage{
  background-color: #333;
  height: 100px;
  width: 100px;
  float: left;
}

.linfo{
  margin-top: 10px;
  margin-left: 10px;
  width: 40%;
  background-color: rgb(90, 90, 90);
  float: left;
}

.liname{
  font-size: 15px;
  width: 100%;
  color: white;
  background-color: #333;
  display: inline-block;
  text-align: center;
}

.ldetails{
  margin-top: 10px;
  margin-right: 10px;
  width: 32%;
  background-color: #333;
  height: 75px;
  float: right;
}

.ldlink{
  text-decoration: none;
  color: white;
}

.ocard{
  height: 300px!important;
  background-color:gray;
  border-bottom: 5px solid #333;
  display: inline-block!important;
}

.oimage{
  width: 278px;
  height: 270px;
  background-color: #333;
  float: left;
}

.linfo{
  margin-top: 10px;
  margin-left: 10px;
  width: 40%;
  background-color: rgb(90, 90, 90);
  float: left;
}

.oname{
  padding-bottom: 5px;
  padding-top:5px; 
  font-size: 18px;
  width: 80%;
  color: white;
  background-color: #333;
  text-align: center;
  float: left;
}



.oiname{
  font-size: 15px;
  width: 100%;
  color: white;
  background-color: #333;
  display: inline-block;
  text-align: center;
}

.odetails{
  margin-top: 10px;
  margin-right: 10px;
  width: 18%;
  background-color: #333;
  height: 245px;
  float: right; 
}

.offer{
  color: white;
  font-size: 18px;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: rgb(39, 39, 39);

}

.omarg{
  width: 10%;
  background-color: #8c8c8c;
  height: 300px;
  float: left;
  border-bottom: 5px solid #8c8c8c;
}

.omargr{
  width: 10%;
  background-color: #8c8c8c;
  height: 300px;
  float: right;
  border-bottom: 5px solid #8c8c8c;
}

.imgOfert{
  margin-left: 5px;
  width:268px;
  height:268px;
}

.imgList{
  width:100px;
  height:100px;
}

.sliderOp{
  width: 100%;
  height: 30px;
  background-color: #8c8c8c;
}

.searchList{
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: rgb(39, 39, 39);
  display: inline-block;
}

.inputSearchList{
  margin-left: 1%;
  background-color: rgb(39, 39, 39);
  color: rgb(150, 150, 150);
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid gray;
  width:20%;
  float: left;
}

.catElement{
  color: white;
  text-decoration: none;
  background-color: #333;
  padding: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
}

.catBox{
  width: 80%;
  background-color: #4d4d4d;
  margin-left: 9.6%;
  padding-bottom: 15px;
  display: inline-block;
  border:5px solid #333;
  border-top: 0px;
}

.searchCat{
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #333;
}

.inputSearchCat{
  margin-left: 1%;
  background-color: #333;
  color: rgb(150, 150, 150);
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid gray;
  width:20%;
}

.contactBox{
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #333;
}

.inputContact{
  margin-left: 30%;
  background-color: #333;
  color: rgb(150, 150, 150);
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid gray;
  width:40%;
}
.submitContact{
  margin-top: 5px;
  margin-left: 30%;
  background-color: #333;
  color: rgb(150, 150, 150);
  padding:8px;
  border:1px solid gray;
  width:40%;
}

.submitContact:hover{
  background-color: rgb(82, 82, 82);
}


.comboBoxList{
  margin-left: 1%;
  background-color: rgb(39, 39, 39);
  color: rgb(150, 150, 150);
  padding:7px;
  display:block;
  border:none;
  border-bottom:1px solid gray;
  width:20%;
  float: left;
}

.detailButtonList{
  color: white;
  text-decoration: none;
  background-color: #333;
  padding: 26.5px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.shopcartButtonList{
  color: white;
  text-decoration: none;
  background-color: #277acc;
  padding: 26.5px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.dname{
  color: white;
  font-size: 18px;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  background-color: rgb(39, 39, 39);
}


.imgDetails{
  width:400px;
  height:400px;
  border-right: 10px solid #333;
  float: left;
}

.dcard{
border: 10px solid #333;
border-bottom: 0px;
background-color: #808080;
display: inline-block;
}


.dinfo{
  height: 400px;
  width: 45%;
  background-color: rgb(90, 90, 90);
  float: left;
  border-right: 10px solid #333;
}

.maps{
  padding-left: 10px;
  padding-top: 10px;
  padding: 10px;
  background-color: #333;
}

.dprice{
  margin-top: 5px;
  margin-left: 10%;
  font-style: oblique;
  font-size: 57px;
  color: #277acc;
  text-shadow: -1px -1px white, 1px 1px white, -1px 1px white, 1px -1px white;
  float: left;
}

.dstatus{
background-color: #404040;
float: right;
margin: 5px;
width: 45%;
text-align: center;
color: white;
padding-bottom: 5px;
}

.barst{
  height: 20px;
  width: 90%;
  margin-left: 5%;
  background-color: #666;
}

.st100{
  background-color: #277acc;
  height: 20px;
  width: 100%;
}
.st75{
  background-color: #4ce600;
  height: 20px;
  width: 80%;
}
.st50{
  background-color: #ffcc00;
  height: 20px;
  width: 60%;
}
.st25{
  background-color: #ff9900;
  height: 20px;
  width: 40%;
}
.st0{
  background-color: #b30000;
  height: 20px;
  width: 20%;
}

.shopCardDet{
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #277acc;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  margin-top: 5px;
  margin-right: 3%;
  float: right;
  border: 5px solid #404040;
}

.ddesc{
  background-color: #404040;
float: left;
margin: 5px;
width: 98%;
text-align: center;
color: white;
padding-bottom: 5px;
}

.descCont{
  margin-top: 10px;
  margin-left: 1%;
  width: 98%;
  background-color: #666;
  float: left;
  text-align: start
}

.descCont1{
  width: 40%;
  height: 80px;
  float: left;
}

.descCont2{
  width: 60%;
  height: 170px;
  float: right;
}
.descCont3{
  width: 40%;
  height: 90px;
  float: right;
}
.descCont4{
  width: 100%;
  height: 230px;
  float: left;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky2 {
  position: fixed;
  top: 78;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 126px;
}
.sticky + .hcontent {
  padding-top: 78px;
}

.offerCont1{
width: 33%;
height: 268px;
float: left;
}

.oinfo{
  margin-top:  2.5%;
  margin-left: 2.5%;
  width: 95%;
  background-color: rgb(90, 90, 90);
  float: left;
}

.offerCont2{
  width: 20%;
height: 268px;

float: left;
}

.detailButtonOffer{
  text-align: center;
  color: white;
  font-size: 24px;
  text-decoration: none;
  background-color: #333;
  width: 80%;
  padding: 36.5px;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 10px;
  margin-right: 2%;
  float: right;
}

.shopcartButtonOffer{
  text-align: center;
  color: white;
  font-size: 24px;
  text-decoration: none;
  background-color: #277acc;
  width: 80%;
  padding: 36.5px;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 10px;
  margin-right: 2%;
  float: right;
}

.ocontent{
  z-index: 0;
}

.scard{
  background-color: #707070;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}


.imgListSame{
  width:100px;
  height:100px;
  float: left;
}

.ladetails{
  float: right;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #333;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 40%;
  margin-right: 3%;
  border: 5px solid #404040;
}

.myScrollbar{
  width: 20%;
  height: 360px;
  float: right;
}

@media (max-width: 1024px) {
  .offerCont1{
    width: 35%;
    font-size: 14px;
  }
  .offerCont2{
    width: 15%;
    font-size: 19px;
  }
  .dinfo{
    width: 36%;
  }
  .linfo{
    width: 30%;
  }
  .shopCardDet{
    font-size: 14px;
    margin: 1px;
  }
}

@media (max-width: 468px) {


  .shopcartButtonList{
    width: 20%;
    padding: 0px;
    text-align: center;
    height: 40px;
    padding-top: 20px;
  }

  .detailButtonList{
    width: 20%;
    padding: 0px;
    text-align: center;
    height: 40px;
    padding-top: 20px;
  }

  .dinfo{
    width: 50%;
  }
  .linfo{
    width: 30%;
  }

  .card{
    width: 95%;
  }
  .imgDetails{
    width:98%;
    height: 450px;
    border-bottom: 10px solid #404040;
  }

  .shopCardDet{
    width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  }

  .dprice{
    font-size: 50px;
  }

  .ddesc{
    font-size: 12px;
  }

  .dstatus{
    font-size: 12px;
    width: 45%;
    padding-bottom: 5px;
  }

  .descCont2{
    height: 200px;
  }
  .myScrollbar{
    width: 40%;
    height: 360px;
    float: right;
  }

  .oimage{
    width: 180px;
    height: 180px;
  }
  .imgOfert{
    width: 180px;
    height: 180px;
  }

  .offerCont1{
    display: none;
    width: 38%;
    font-size: 12px;
    margin-left: 10px;
  }
  .offerCont2{
    float: left;
    width: 38%;
    font-size: 19px;
  }

  .shopcartButtonOffer{
    display: none;
  }

  .detailButtonOffer{
    padding: 0px;
    height: 50px;
    padding-top: 25px;
  }

  .ocard {
    height: 206px!important;
  }

  .oname{
    font-size: 14px;
  }
}