odoo/
.bash_history
.bashrc
.cache/
.local/
.npm/
.odoorc
.profile
.ssh/
.config/
.sudo_as_admin_successful
node_modules/        
bundle.js
npm-debug.log
react-dev/public/index.css
react-dev/public/mixin.css
react-dev/public/style.css
react-dev/public/variables.css