@import 'mixin';
@import 'variables';

body{
    margin: 0px;
    background-color:$color-background;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  
  .titleCont{
  width: 100%;
  height: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $color-primary;
  color: $color-text1;
  text-align: center;
  }
  
  a{
    text-decoration: none;
  }
  
  .active {
    color: $color-text1!important;
    text-decoration: none;
  }
  
  
  .menu{
    overflow: hidden;
    background-color: $color-secondary;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
  }
  
  .menu li{
    text-decoration: none;
    color:$color-text1;
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    text-decoration: none;
    color:$color-text2;
    padding: 30px;
  }
  
  
  .card{
    margin-left: .66%;
    margin-top: 10px;
    display: inline-block;
    background-color: $color-card1;
    width: 48%;
    border: 5px solid $color-secondary;
  }
  
  .lname{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    width: 100%;
    color: $color-text1;
    background-color: $color-secondary;
    display: inline-block;
    text-align: center;
  }
  
  .limage{
    background-color: $color-secondary;
    height: 100px;
    width: 100px;
    float: left;
  }
  
  .linfo{
    margin-top: 10px;
    margin-left: 10px;
    width: 40%;
    background-color: $color-info;
    float: left;
  }
  
  .liname{
    font-size: 15px;
    width: 100%;
    color: $color-text1;
    background-color: $color-secondary;
    display: inline-block;
    text-align: center;
  }
  
  .ldetails{
    margin-top: 10px;
    margin-right: 10px;
    width: 32%;
    background-color: $color-secondary;
    height: 75px;
    float: right;
  }
  
  .ldlink{
    text-decoration: none;
    color: $color-text1;
  }
  
  .ocard{
    height: 300px!important;
    background-color:$color-card1;
    border-bottom: 5px solid $color-secondary;
    display: inline-block!important;
  }
  
  .oimage{
    width: 278px;
    height: 270px;
    background-color: $color-secondary;
    float: left;
  }
  
  .linfo{
    margin-top: 10px;
    margin-left: 10px;
    width: 40%;
    background-color: $color-info;
    float: left;
  }
  
  .oname{
    padding-bottom: 5px;
    padding-top:5px; 
    font-size: 18px;
    width: 80%;
    color: $color-text1;
    background-color: $color-secondary;
    text-align: center;
    float: left;
  }
  
  
  
  .oiname{
    font-size: 15px;
    width: 100%;
    color: $color-text1;
    background-color: $color-secondary;
    display: inline-block;
    text-align: center;
  }
  
  .odetails{
    margin-top: 10px;
    margin-right: 10px;
    width: 18%;
    background-color: $color-secondary;
    height: 245px;
    float: right; 
  }
  
  .offer{
    color: $color-text1;
    font-size: 18px;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: $color-decoration;
  
  }
  
  .omarg{
    width: 10%;
    background-color: $color-background;
    height: 300px;
    float: left;
    border-bottom: 5px solid $color-background;
  }
  
  .omargr{
    width: 10%;
    background-color: $color-background;
    height: 300px;
    float: right;
    border-bottom: 5px solid $color-background;
  }
  
  .imgOfert{
    margin-left: 5px;
    width:268px;
    height:268px;
  }
  
  .imgList{
    width:100px;
    height:100px;
  }
  
  .sliderOp{
    width: 100%;
    height: 30px;
    background-color: $color-background;
  }
  
  .searchList{
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: $color-decoration;
    display: inline-block;
  }
  
  .inputSearchList{
    margin-left: 1%;
    background-color: $color-decoration;
    color: $color-text3;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid $color-card1;
    width:20%;
    float: left;
  }
  
  .catElement{
    color: $color-text1;
    text-decoration: none;
    background-color: $color-secondary;
    padding: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
  }
  
  .catBox{
    width: 80%;
    background-color: $color-box;
    margin-left: 9.6%;
    padding-bottom: 15px;
    display: inline-block;
    border:5px solid $color-secondary;
    border-top: 0px;
  }
  
  .searchCat{
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: $color-secondary;
  }
  
  .inputSearchCat{
    margin-left: 1%;
    background-color: $color-secondary;
    color: $color-text3;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid $color-card1;
    width:20%;
  }
  
  .contactBox{
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: $color-secondary;
  }
  
  .inputContact{
    margin-left: 30%;
    background-color: $color-secondary;
    color: $color-text3;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid $color-card1;
    width:40%;
  }
  .submitContact{
    margin-top: 5px;
    margin-left: 30%;
    background-color: $color-secondary;
    color: $color-text3;
    padding:8px;
    border:1px solid $color-card1;
    width:40%;
  }
  
  .submitContact:hover{
    background-color: $color-hover1;
  }
  
  
  .comboBoxList{
    margin-left: 1%;
    background-color: $color-decoration;
    color: $color-text3;
    padding:7px;
    display:block;
    border:none;
    border-bottom:1px solid $color-card1;
    width:20%;
    float: left;
  }
  
  .detailButtonList{
    color: $color-text1;
    text-decoration: none;
    background-color: $color-secondary;
    padding: 26.5px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
  }
  
  .shopcartButtonList{
    color: $color-text1;
    text-decoration: none;
    background-color: $color-primary;
    padding: 26.5px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
  }
  
  .dname{
    color: $color-text1;
    font-size: 18px;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    background-color: $color-decoration;
  }
  
  
  .imgDetails{
    width:400px;
    height:400px;
    border-right: 10px solid $color-secondary;
    float: left;
  }
  
  .dcard{
  border: 10px solid $color-secondary;
  border-bottom: 0px;
  background-color: $color-background;
  display: inline-block;
  }
  
  
  .dinfo{
    height: 400px;
    width: 45%;
    background-color: $color-info;
    float: left;
    border-right: 10px solid $color-secondary;
  }
  
  .maps{
    padding-left: 10px;
    padding-top: 10px;
    padding: 10px;
    background-color: $color-secondary;
  }
  
  .dprice{
    margin-top: 5px;
    margin-left: 10%;
    font-style: oblique;
    font-size: 57px;
    color: $color-primary;
    text-shadow: -1px -1px $color-text1, 1px 1px $color-text1, -1px 1px $color-text1, 1px -1px $color-text1;
    float: left;
  }
  
  .dstatus{
  background-color: $color-card2;
  float: right;
  margin: 5px;
  width: 45%;
  text-align: center;
  color: $color-text1;
  padding-bottom: 5px;
  }
  
  .barst{
    height: 20px;
    width: 90%;
    margin-left: 5%;
    background-color: $color-cont;
  }
  
  .st100{
    background-color: $color-primary;
    height: 20px;
    width: 100%;
  }
  .st75{
    background-color: $status-1;
    height: 20px;
    width: 80%;
  }
  .st50{
    background-color: $status-2;
    height: 20px;
    width: 60%;
  }
  .st25{
    background-color: $status-3;
    height: 20px;
    width: 40%;
  }
  .st0{
    background-color: $status-4;
    height: 20px;
    width: 20%;
  }
  
  .shopCardDet{
    color: $color-text1;
    font-size: 20px;
    text-align: center;
    background-color: $color-primary;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
    margin-top: 5px;
    margin-right: 3%;
    float: right;
    border: 5px solid $color-card2;
  }
  
  .ddesc{
    background-color: $color-card2;
  float: left;
  margin: 5px;
  width: 98%;
  text-align: center;
  color: $color-text1;
  padding-bottom: 5px;
  }
  
  .descCont{
    margin-top: 10px;
    margin-left: 1%;
    width: 98%;
    background-color: $color-cont;
    float: left;
    text-align: start
  }
  
  .descCont1{
    width: 40%;
    height: 80px;
    float: left;
  }
  
  .descCont2{
    width: 60%;
    height: 170px;
    float: right;
  }
  .descCont3{
    width: 40%;
    height: 90px;
    float: right;
  }
  .descCont4{
    width: 100%;
    height: 230px;
    float: left;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .sticky2 {
    position: fixed;
    top: 78;
    width: 100%;
    z-index: 1;
  }
  
  .sticky + .content {
    padding-top: 126px;
  }
  .sticky + .hcontent {
    padding-top: 78px;
  }
  
  .offerCont1{
  width: 33%;
  height: 268px;
  float: left;
  }
  
  .oinfo{
    margin-top:  2.5%;
    margin-left: 2.5%;
    width: 95%;
    background-color: $color-info;
    float: left;
  }
  
  .offerCont2{
    width: 20%;
  height: 268px;
  
  float: left;
  }
  
  .detailButtonOffer{
    text-align: center;
    color: $color-text1;
    font-size: 24px;
    text-decoration: none;
    background-color: $color-secondary;
    width: 80%;
    padding: 36.5px;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 10px;
    margin-right: 2%;
    float: right;
  }
  
  .shopcartButtonOffer{
    text-align: center;
    color: $color-text1;
    font-size: 24px;
    text-decoration: none;
    background-color: $color-primary;
    width: 80%;
    padding: 36.5px;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 10px;
    margin-right: 2%;
    float: right;
  }
  
  .ocontent{
    z-index: 0;
  }
  
  .scard{
    background-color: #707070;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  .imgListSame{
    width:100px;
    height:100px;
    float: left;
  }
  
  .ladetails{
    float: right;
    color: $color-text1;
    font-size: 20px;
    text-align: center;
    background-color: $color-secondary;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 40%;
    margin-right: 3%;
    border: 5px solid $color-card2;
  }
  
  .myScrollbar{
    width: 20%;
    height: 360px;
    float: right;
  }
  
  @media (max-width: 1024px) {
    .offerCont1{
      width: 35%;
      font-size: 14px;
    }
    .offerCont2{
      width: 15%;
      font-size: 19px;
    }
    .dinfo{
      width: 36%;
    }
    .linfo{
      width: 30%;
    }
    .shopCardDet{
      font-size: 14px;
      margin: 1px;
    }
  }
  
  @media (max-width: 468px) {
  
  
    .shopcartButtonList{
      width: 20%;
      padding: 0px;
      text-align: center;
      height: 40px;
      padding-top: 20px;
    }
  
    .detailButtonList{
      width: 20%;
      padding: 0px;
      text-align: center;
      height: 40px;
      padding-top: 20px;
    }
  
    .dinfo{
      width: 50%;
    }
    .linfo{
      width: 30%;
    }
  
    .card{
      width: 95%;
    }
    .imgDetails{
      width:98%;
      height: 450px;
      border-bottom: 10px solid $color-card2;
    }
  
    .shopCardDet{
      width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    }
  
    .dprice{
      font-size: 50px;
    }
  
    .ddesc{
      font-size: 12px;
    }
  
    .dstatus{
      font-size: 12px;
      width: 45%;
      padding-bottom: 5px;
    }
  
    .descCont2{
      height: 200px;
    }
    .myScrollbar{
      width: 40%;
      height: 360px;
      float: right;
    }
  
    .oimage{
      width: 180px;
      height: 180px;
    }
    .imgOfert{
      width: 180px;
      height: 180px;
    }
  
    .offerCont1{
      display: none;
      width: 38%;
      font-size: 12px;
      margin-left: 10px;
    }
    .offerCont2{
      float: left;
      width: 35%;
      font-size: 19px;
    }
  
    .shopcartButtonOffer{
      display: none;
    }
  
    .detailButtonOffer{
      padding: 0px;
      height: 50px;
      padding-top: 25px;
    }
  
    .ocard {
      height: 206px!important;
    }
  
    .oname{
      font-size: 14px;
    }
  }
  
  @media (max-width: 800px) {
  
  
    .shopcartButtonList{
      width: 20%;
      padding: 0px;
      text-align: center;
      height: 40px;
      padding-top: 20px;
    }
  
    .detailButtonList{
      width: 20%;
      padding: 0px;
      text-align: center;
      height: 40px;
      padding-top: 20px;
    }
  
    .dinfo{
      width: 50%;
    }
    .linfo{
      width: 30%;
    }
  
    .card{
      width: 95%;
    }
    .imgDetails{
      width:98%;
      height: 450px;
      border-bottom: 10px solid $color-card2;
    }
  
    .shopCardDet{
      width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    }
  
    .dprice{
      font-size: 50px;
    }
  
    .ddesc{
      font-size: 12px;
    }
  
    .dstatus{
      font-size: 12px;
      width: 45%;
      padding-bottom: 5px;
    }
  
    .descCont2{
      height: 200px;
    }
    .myScrollbar{
      width: 40%;
      height: 360px;
      float: right;
    }
  
    .oimage{
      width: 180px;
      height: 180px;
    }
    .imgOfert{
      width: 180px;
      height: 180px;
    }
  
    .offerCont1{
      display: none;
      width: 38%;
      font-size: 12px;
      margin-left: 10px;
    }
    .offerCont2{
      float: left;
      width: 38%;
      font-size: 19px;
    }
  
    .shopcartButtonOffer{
      display: none;
    }
  
    .detailButtonOffer{
      padding: 0px;
      height: 50px;
      padding-top: 25px;
    }
  
    .ocard {
      height: 206px!important;
    }
  
    .oname{
      font-size: 14px;
    }
  }
  
  .ReactModal__Content{
    top: 50%!important;
    left: 50%!important;
    right: auto!important;
    bottom: auto!important;
    margin-right: -50%!important;
    transform: translate(-50%, -50%)!important;
    background-color: #444444 !important;
    color: $color-text1!important;
    border: solid 0px #222 !important;
    border-radius: 0px!important;
  }
  
  .ReactModal__Overlay{
    background-color: rgba(20, 20, 20, 0.75)!important;
  }
  
  .modalLogin{
    width: 600px;
  }
  
  .inputModal{
    margin-left: 1%;
    background-color: $color-decoration;
    color: $color-text3;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid $color-card1;
    width:100%;
    float: left;
  }
  
  .modalName{
    margin-top: 5px;
    float: left;
  }
  
  .formRegister{
    float: left;
    width: 40%;
  }
  
  .formLogin{
    float: right;
    width: 40%;
  }
  
  .separator{
    width: 100%;
    background-color: $color-cont;
    color: $color-cont;
    border: solid 2px #222222;
    float: left;
    margin-top: 30px;
  }
  
  .socialLogin{
    width: 33%;
    float: left;
    margin-left: 33%;
    height: 30px;
    margin-top: 20px;
  }
  
  .modalButton{
    font-size: 16px;
    background-color: $color-primary;
    margin-left: 1%;
    margin-top: 20px;
    float: left;
    border: 0px;
    color: $color-text1;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .cartPaper{
    float: left;
    margin-top: 10px;
    margin-left: 10%;
    padding-bottom: 20px;
    width: 80%;
    background-color: #F5F5F5;
    box-shadow: 10px 10px #444444;
    margin-bottom: 60px;
  }
  
  
  .cardCart{
    margin-left: 5%;
    width: 90%;
    height: 110px;
    float: left;
    
  }
  
  .cimage{
    width: 12%;
    margin-top: 10px;
    float: left;
  }
  
  .cname{
    width: 65%;
    float: left;
  }
  
  .ctype{
    width: 8%;
    float: left;
  }
  
  .cstatus{
    width: 8%;
    float: left;
  }
  
  .cprice{
    float: left;
    margin-top: 80px;
  }
  
  .cartDataContainer{
    width: 95%;
    float: left;
  }
  
  .cartData{
    width: 88%;
    margin-top: 80px;
    float: left;
  }
  
  .separatorCart{
    margin: 0;
    margin-left: 5%;
    width: 90%;
    border: solid 1px #999999;
    float: left;
  }
  
  .cnimage{
    width: 11%;
    float: left;
  }
  
  .cnData{
    margin-top: 30px;
    margin-left: 5%;
    width: 90%;
    float: left;
  }
  
  .cnprice{
    float: right;
    margin-right: 1%;
  }
  
  .cnname{
    float: left;
    width: 54%;
  }
  
  .mkname{
    font-size: 20px;
    margin-top: 10px;
    float: left;
    margin-left: 5%;
    margin-right: 60%
  
  }
  .mkop{
    margin-top: 5px;
    float: left;
    margin-left: 5%;
    margin-right: 60%;
    margin-bottom: 2px;
    background-color: #F5F5F5;
    color: #272727;
    padding: 8px;
    display: block;
    border: none;
    
  }

  .about{
    margin-right:5%;
    margin-left:5%;  
    margin-top: 50px; 
    padding-bottom: 50px;
  }
  
  .makepc{
    margin-top: 50px; 
    padding-bottom: 50px;
  }