$color-base:#2f353a;
$color-background:#8c8c8c;
$color-primary:#277acc;
$color-secondary:#333;
$color-decoration:rgb(39, 39, 39);
$color-text1: white;
$color-text2:#c3c3c3;
$color-text3: rgb(150, 150, 150);
$color-text4: black;
$color-card1:gray;
$color-card2:#404040;
$color-info:rgb(90, 90, 90);
$color-box:#4d4d4d;
$color-hover1:rgb(82, 82, 82);
$status-1:#4ce600;
$status-2:#ffcc00;
$status-3:#ff9900;
$status-4:#b30000;
$color-cont:#666;