body{
  margin: 0px;
  background-color: rgb(170, 170, 170);
}

.active {
  color: white!important;
  text-decoration: none;
}


.menu{
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu li{
  text-decoration: none;
  color:white;
  display: inline-block;
  text-align: center;
}

.menu li a{
  text-decoration: none;
  color:#c3c3c3;
  padding: 30px;
}


.card{
  margin-left: .66%;
  margin-bottom: 10px;
  display: inline-block;
  background-color: gray;
  width: 49%;
}

.lname{
  font-size: 18px;
  width: 100%;
  color: white;
  background-color: #333;
  display: inline-block;
  text-align: center;
}

.limage{
  background-color: #333;
  height: 100px;
  width: 100px;
  float: left;
}

.linfo{
  margin-top: 10px;
  margin-left: 10px;
  width: 40%;
  background-color: rgb(90, 90, 90);
  float: left;
}

.liname{
  font-size: 15px;
  width: 100%;
  color: white;
  background-color: #333;
  display: inline-block;
  text-align: center;
}

.ldetails{
  margin-top: 10px;
  margin-right: 10px;
  width: 32%;
  background-color: #333;
  height: 75px;
  float: right;
}

.ldlink{
  text-decoration: none;
  color: white;
}