
body{
  margin: 0px;
  background-color: rgb(170, 170, 170);
}

a{
  text-decoration: none;
}

.active {
  color: white!important;
  text-decoration: none;
}


.menu{
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
}

.menu li{
  text-decoration: none;
  color:white;
  display: inline-block;
  text-align: center;
}

.menu li a{
  text-decoration: none;
  color:#c3c3c3;
  padding: 30px;
}


.card{
  margin-left: .66%;
  margin-top: 10px;
  display: inline-block;
  background-color: gray;
  width: 49%;
}

.lname{
  font-size: 18px;
  width: 100%;
  color: white;
  background-color: #333;
  display: inline-block;
  text-align: center;
}

.limage{
  background-color: #333;
  height: 100px;
  width: 100px;
  float: left;
}

.linfo{
  margin-top: 10px;
  margin-left: 10px;
  width: 40%;
  background-color: rgb(90, 90, 90);
  float: left;
}

.liname{
  font-size: 15px;
  width: 100%;
  color: white;
  background-color: #333;
  display: inline-block;
  text-align: center;
}

.ldetails{
  margin-top: 10px;
  margin-right: 10px;
  width: 32%;
  background-color: #333;
  height: 75px;
  float: right;
}

.ldlink{
  text-decoration: none;
  color: white;
}

.ocard{
  width: 98%;
  height: 300px!important;
  background-color:gray;
  border-bottom: 5px solid #333;
}

.oimage{
  width: 278px;
  height: 270px;
  background-color: #333;
  float: left;
}

.linfo{
  margin-top: 10px;
  margin-left: 10px;
  width: 40%;
  background-color: rgb(90, 90, 90);
  float: left;
}

.oname{
  padding-bottom: 5px;
  padding-top:5px; 
  font-size: 18px;
  width: 90%;
  color: white;
  background-color: #333;
  text-align: center;
  float: left;
}

.oinfo{
  margin-top: 10px;
  margin-left: 10px;
  width: 40%;
  background-color: rgb(90, 90, 90);
  float: left;
}

.oiname{
  font-size: 15px;
  width: 100%;
  color: white;
  background-color: #333;
  display: inline-block;
  text-align: center;
}

.odetails{
  margin-top: 10px;
  margin-right: 10px;
  width: 18%;
  background-color: #333;
  height: 245px;
  float: right; 
}

.offer{
  color: white;
  font-size: 18px;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: rgb(39, 39, 39);

}

.omarg{
  
  width: 5%;
  background-color: rgb(170, 170, 170);
  height: 300px;
  float: left;
  border-bottom: 5px solid rgb(170, 170, 170);
}

.omargr{
  width: 5%;
  background-color: rgb(170, 170, 170);
  height: 300px;
  float: right;
  border-bottom: 5px solid rgb(170, 170, 170);
}

.imgOfert{
  margin-left: 5px;
  width:268px;
  height:268px;
}

.imgList{
  width:100px;
  height:100px;
}

.sliderOp{
  width: 100%;
  height: 30px;
  background-color: rgb(170, 170, 170);
}